body {
    background-color: #fff;
}

nav li {
    display: inline-block;
    margin: 0 10px;
    
}

nav li a {
    text-decoration: none;
    font-family: Arial, Helvetica, serif;
    text-align: justify;
    font-size: 14px;
    font-weight: 500;
    color: rgba(0,0,0,0.87);
    vertical-align: middle;
}

a:hover {
    text-decoration: underline;
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-content: ;
    left: ;
    padding: ;
}

.m-pic img {
    border-radius: 15px;
}

.material-icons {
    border-radius: 5px;
}

.nav-list {
    align-content: center;
}

.google-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    height: 40vh;
}

.search-input {
    width: 550px;
    position:relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    border-radius: 25px;
}

.search-input:hover  {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    
}

.search-input input {
    width: 550px;
    padding: 15px;
    border-radius: 25px;
    border-width: 1px;
    border-color: darkgrey;
    border-style: solid;
    max-width: 100%;
}

.search-ico {
    position: absolute;
    left: 10px;
    top: 15px;
    margin-left: 10px;
    color: darkgray;

}

.microphone-ico {
    position: absolute;
    right: 10px;
    top: 15px;
    margin-right: 10px;
    color: blue;
    cursor: pointer;

}

#speechinput {

}

.button {
   width: auto;
   margin: auto;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   padding: 10px;
   
}

button {
    
    outline: none;
    border: none;
    height: 35px;
    width: 90%;
    cursor: pointer;
    font-size: 15px;
    border-radius: 4px;
    margin: 20px;
    
}

