body {
    background-color: #fff;
    min-width: 400px;
    margin: 0;
    height: 100%;
}

div {
    display: block;
}

nav li {
    display: inline-block;
    margin: 0 10px;
    
}

nav li a {
    text-decoration: none;
    font-family: Arial, Helvetica, serif;
    text-align: justify;
    font-size: 14px;
    font-weight: 500;
    color: rgba(0,0,0,0.87);
    vertical-align: middle;
}

a:hover {
    text-decoration: underline;
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-content: ;
    left: ;
    padding: ;
}

.m-pic img {
    border-radius: 15px;
}

.material-icons {
    border-radius: 5px;
}

.nav-list {
    align-content: center;
}

.foogle {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 92px;
    min-height: 150px;
    max-height: 290px;
    height: calc(100% - 560px);
    flex-shrink: 0;
    box-sizing: border-box;
}

.google {
    max-height: 92px;
    position: relative;

    height: 100%;
    margin-top: auto;
}

.google-logo {
    
    margin-top: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    object-position: center bottom;
    width: auto;
}

.google-logo img {
    height: 92px;
    aspect-ratio: auto 272 / 92;
}

.search-input {
    width: 560px;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 10px;
    border-radius: 25px;
}

.search-input:hover  {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    
}

.search-input input {
    width: 560px;
    padding: 15px 0 15px 50px;
    border-radius: 25px;
    border-width: 1px;
    border-color: darkgrey;
    border-style: solid;
    max-width: 100%;
}


input:focus {
    outline: none;
}

.search-ico {
    position: absolute;
    left: 10px;
    top: 15px;
    margin-left: 10px;
    color: darkgray;

}

.material-icons {
    position: absolute;
    right: 10px;
    top: 10px;
    margin-right: 8px;
    color: blue;
    cursor: pointer;

}

#speechinput {

}

.button {
   width: auto;
   margin: auto;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   padding: 20px;
   
}

button {
    
    outline: none;
    border: none;
    height: 36px;
    min-width: 54px;
    padding: 0 16px;
    cursor: pointer;
    font-size: 14px;
    line-height: 27px;
    border-radius: 4px;
    margin: 11px 4px;
    background-color: #f8f9fa;
    
}

button:hover {
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
}

.langs {
    color: #3c4043;
    display: inline-block;
    line-height: 28px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

.langs a {
    color: #1a0dab;
    padding: 0 3px;
}

.lang-center  {
    
    margin-bottom: 24px;
    text-align: center;
}

.langspace {
    flex-grow: 1;
    flex-shrink: 0;
    box-sizing: border-box;
    margin-bottom: 217px;
}

div{
    display: block;
}



.langs a{
    text-decoration: none;
    
}

.footer {
    background: #f2f2f2;
    flex-shrink: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0,0,0,.54);
}

.nigeria {
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    
}

.last-layer {

    display: flex;
    flex-wrap: wrap;
   
    padding: 0 20px;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    min-width: 30%;
    order: 1;
}

.footer-links a {
    color: #70757a;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    display: block;
    padding: 15px;
    white-space: nowrap;
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

.carbon {
    display: flex;
    flex-wrap: wrap;   
    order: 2;
    min-width: 40%;
    justify-content: center;
   }

.carbon a {
    color: #70757a;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    display: block;
    padding: 15px;
    white-space: nowrap;
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

.privacy {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    min-width: 30%;
    order: 3;
}

.privacy a {
    color: #70757a;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    display: block;
    padding: 15px;
    white-space: nowrap;
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

@media screen and (max-width: 750px) {
    .langspace {
        flex-grow: 1;
        flex-shrink: 0;
        box-sizing: border-box;
        margin-bottom: 0;
    }
    
    .last-layer {
        justify-content: space-evenly;
        display: flex;
        flex-wrap: wrap;
        padding: 0 20px;
       }
    
       .carbon {
        display: flex;
        flex-wrap: wrap;   
        order: 0;
        width: 100%;
        justify-content: center;
       }
    
       .privacy {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        min-width: 30%;
        order: 3;
       }
       .footer-links {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        min-width: 30%;
        order: 1;
    }
    
}

@media screen and (max-width: 1400px) {

    .langspace {
        flex-grow: 1;
        flex-shrink: 0;
        box-sizing: border-box;
        margin-bottom: 0px;
    }
   
    .last-layer {
        justify-content: space-evenly;
        display: flex;
        flex-wrap: wrap;
        padding: 0 20px;
       }
    
       .carbon {
        display: flex;
        flex-wrap: wrap;   
        order: 0;
        width: 100%;
        justify-content: center;
       }
    
       .privacy {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        min-width: 30%;
        order: 3;
       }
       .footer-links {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        min-width: 30%;
        order: 1;
    }

}

@media screen and (max-width: 1500px) {
    .langspace {
        flex-grow: 1;
        flex-shrink: 0;
        box-sizing: border-box;
        margin-bottom: 0px;
    }
       
}